---
import AboutInfo from "../components/about/AboutInfo.vue";
import Layout from "../layouts/Layout.astro";

const url = new URL('/api/hello', Astro.url);
const response = await fetch(url); // fetch api call in astro
const content = (await response.json()).message;
---
<Layout>
    <h1>About</h1>
    <AboutInfo client:load content={content} />
</Layout>
